<!DOCTYPE html>
<html lang="en">
<%- include('../partails/head')%>

    <body>

        <%- include('../partails/header')%>

            <!--/ Carousel Star /-->
            <div class="intro intro-carousel">
                <div id="carousel" class="owl-carousel owl-theme">
                    <div class="carousel-item-a intro-item bg-image" style="background-image: url(/public/img/banner.jpg)">
                        <div class="overlay overlay-a"></div>
                        <div class="intro-content display-table">
                            <div class="table-cell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="intro-body">
                                                <h1 class="intro-title mb-4">
                                                    Course<span class="color-b"> 
                      <br>Tools</span> </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section-services section-t8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title-wrap d-flex justify-content-between">
                                <div class="title-box">
                                    <h2 class="title-a">Technology</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/asp/default.ASP" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/net.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/php/default.asp" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/php.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/nodejs/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/node.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/react/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/react.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/angular/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/angular.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/python/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/python.jpg" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.javatpoint.com/computer-graphics-tutorial" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/ui.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/java/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/java.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.in/software-testing/methods/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/qa.jpg" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/cpp/" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/cc.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/js/default.asp" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/js.png" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="img-tech-box">
                                <a href="https://www.w3schools.com/browsers/browsers_mobile.asp" target="-blank">
                                    <div class="card">
                                        <div class="card-body">
                                            <img src="/public/img/brand/ios.jpg" class="img-fluid img-height">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </section>
            <!--/ Services End /-->

            <%- include('../partails/footer')%>
                <%- include('../partails/foot')%>

    </body>

</html>