<!DOCTYPE html>
<html lang="en">

<%- include('../partails/head')%>

    <body>


        <!--/ Nav Star /-->
        <%- include('../partails/header')%>
            <!--/ Nav End /-->

            <!--/ Carousel Star /-->
            <!-- header for banner start -->
            <div class="image-wrap">
                <div class="img-content">
                    <img src="/public/img/banner.jpg" alt="">
                </div>
            </div>
            <!-- header for banner end -->

            <section class="section-services section-t8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-t8">
                            <div class="row justify-content-between">
                                <div class="col-md-6 col-lg-5">
                                    <img src="/public/img/office.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6 col-lg-1"></div>
                                <div class="col-md-6 col-lg-6 section-md-t3">
                                    <h4 style="color:#000; font-size:30px;font-weight:600;">Latest Update</h4><br>
                                    <div class="title-box-d" style="padding-bottom:0px;">

                                        <p class="color-text-a">

                                            <span></span>
                                        </p>
                                        <span style="color:#f00; font-size:18px;font-weight:600;">C/C++ & QA | 5th Assessment (final)- 18 Jan'2021 </span><br><br>

                                        <span style="color:#f00; font-size:18px;font-weight:600;">
              Python | 2nd Assessment - 18 Jan'2021 </span><br><br>

                                        <span style="color:#f00; font-size:18px;font-weight:600;">
              Javascript & Angular | 1st Assessment - 19 Jan'2021 </span>


                                        <p>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </section>
            <!--/ Services End /-->

            <!--/ footer Star /-->
            <%- include('../partails/footer')%>
                <!--/ Footer End /-->
                <%- include('../partails/foot')%>
    </body>

</html>