<!DOCTYPE html>
<html lang="en">
<%- include('../partails/head')%>

    <body>

        <%- include('../partails/header')%>

            <!--/ Carousel Star /-->
            <div class="intro intro-carousel">
                <div id="carousel" class="owl-carousel owl-theme">
                    <div class="carousel-item-a intro-item bg-image" style="background-image: url(/public/img/banner.jpg)">
                        <div class="overlay overlay-a"></div>
                        <div class="intro-content display-table">
                            <div class="table-cell">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="intro-body">
                                                <h1 class="intro-title mb-4">
                                                    Notice<span class="color-b"> 
                      <br>Event</span> </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section-services section-t8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 section-t8">
                            <div class="row justify-content-between">
                                <div class="col-md-6 col-lg-5">
                                    <img src="/public/img/office.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="col-md-6 col-lg-1"></div>
                                <div class="col-md-6 col-lg-6 section-md-t3">
                                    <h4 style="color:#000; font-size:30px;font-weight:600;">Latest Update</h4><br>
                                    <div class="title-box-d" style="padding-bottom:0px;">

                                        <p class="color-text-a">

                                            <span></span>
                                        </p>
                                        <span style="color:#f00; font-size:18px;font-weight:600;">C/C++ & QA | 5th Assessment (final)- 18 Jan'2021 </span><br><br>

                                        <span style="color:#f00; font-size:18px;font-weight:600;">
				  python | 2nd Assessment - 18 Jan'2021 </span><br><br>

                                        <span style="color:#f00; font-size:18px;font-weight:600;">
				  Javascript & Angular | 1st Assessment - 19 Jan'2021 </span>


                                        <p>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </section>
            <!--/ Services End /-->



            <%- include('../partails/footer')%>
                <%- include('../partails/foot')%>
    </body>

</html>